---
title: sample_filename_io
description: notebook with i/o widets
show-code: True
params:
    filename:                                           
        label: This is file label
        input: file
        maxFileSize: 1MB
    output_dir:
        output: dir
---

# 読み込んだファイルに列を追加してファイル出力します

In [7]:
filename ="./input/input_file.xlsx"
output_dir = "example_output_directory"

In [16]:
import pandas as pd

df = pd.read_excel(filename)

読み込んだファイルがこちら

In [17]:
df

  column1 column2
0     one   apple
1     two  orange
2   three   grape

ファイルに列を追加します

In [18]:
df['added_columns'] = df['column1'] + df['column2']
df

  column1 column2 added_columns
0     one   apple      oneapple
1     two  orange     twoorange
2   three   grape    threegrape

In [ ]:
df.to_excel(output_dir + '\output_file.xlsx',index=False)
print('出力が完了しました')